<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing tables</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="col-md-offset-3 col-md-6"> 
        {% if page_obj %}
        <h3 class="page-header text-primary text-center">Records</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            
            {% for data in page_obj%}
            <tbody>
                <tr>
                    <td>{{data.Name}}</td>
                    <td>{{data.Mail}}</td>
                    <td>{{data.password}}</td>
                    <td><a class="btn btn-success" href="updateData/{{data.id}}">Update</a></td>
                    <td><a class="btn btn-danger" href="deleteData/{{data.id}}">Delete</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
        
    </div>
</body>
</html>